.chakra-select__icon {
  visibility: hidden;
}


.user-select-none {
border-radius: 30px;
overflow: hidden;
}


h1 {
    font-family: Coustard!important;
    font-size: 4em!important;
}

#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 9em!important;
  padding: 1.5em!important;
  will-change: filter!important;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.question {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.answer {
    text-align: left;
    padding-left: 20px;
}

.ml_1 {
    font-size: 30px;
    color: #111;
    text-align: left;
    padding: 10px;
}

.ml_2 {
    font-size: 25px;
    color: #666;
    text-align: left;
    padding: 20px;
}

.ml_3 {
    font-size: 20px;
    color: #AAA;
    text-align: left;
    padding: 30px;
}

.ml_4 {
    font-size: 15px;
}

.prev_answer {
    color: #888;
}

.prev_answer_title {
    color: #888;
    font-weight: bold;
    text-align: left;
    margin-left: -10px;
}

.tableGender {
    border: 1px solid black;
}